@using Geography.Models.User
@model UserViewModel

<form method="post">
    <div style="text-align:center;"><img src="https://live.staticflickr.com/65535/17121925920_e2095f2df5_b.jpg" style="overflow: hidden; position: relative; width:600px; height:400px;" /></div>
    <h2>Username: @Model.FullName</h2>
    <h2>Balance: @Model.Balance</h2>
    <div class="form-group">
        <label asp-for="Balance"></label>
        <input asp-for="Balance" class="form-control" placeholder="Here you add balance">
        <span asp-validation-for="Balance" class="small text-danger"></span>
    </div>
    <td>
        <button type="submit" class="btn btn-primary">Submit</button>
    </td>
</form>
<partial name="_ValidationScriptsPartial"/>