<h1 class ="col-md-4 offset-md-4"> SOMETHING WRONG </h1>

<img class="col-md-4 offset-md-4" src="https://previews.123rf.com/images/arcady31/arcady311303/arcady31130300032/18519959-vector-oops-symbol.jpg" style="overflow: hidden; position: relative; width:400px; height:400px;" />

<a href="https://localhost:7207/">
    <button style="background-color:#000000;color:#00FF00;border-radius:5px">Back to home</button>
</a>