@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Geography</h1>
    <ul>
        <img src="https://visitnessebar.org/homepage/wp-content/uploads/2020/05/Bulgaria_orig.jpg" style="overflow: hidden; position: relative; width:1000px; height:600px;" />
    </ul>
</div>
