@using Geography.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<GeographyUser> SignInManager
@inject UserManager<GeographyUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Type</a>
            <div class="dropdown-menu">
                <a href="https://localhost:7207/Type/All" class="dropdown-item">All types</a>
                <a href="https://localhost:7207/Type/Add" class="dropdown-item">Add type</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nature</a>
            <div class="dropdown-menu">
                <a href="https://localhost:7207/Nature/All" class="dropdown-item">Objects</a>
                <a href="https://localhost:7207/Nature/Add" class="dropdown-item">Add object</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Shop</a>
            <div class="dropdown-menu">
                <a href="https://localhost:7207/Shop/AllSouvenirs" class="dropdown-item">Souvenirs</a>
                <a href="https://localhost:7207/Shop/AddSouvenir" class="dropdown-item">Add souvenir</a>
                <a href="https://localhost:7207/Shop/MySouvenirs" class="dropdown-item">My souvenirs</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Info">Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="AddBalance">Balance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
